<!-- views/contacts/index.ejs -->

<!DOCTYPE html>
<html>

<head>
  <%- include('../partials/head') %>
</head>

<body>
  <%- include('../partials/nav') %>

  <div class="container contact contact-index">
    <h2>관리자 페이지</h2>
    <ul class="list-group">
    </ul>
  </div>
</body>

</html>